---
layout: nhse_post
title: <%= @name %>
author: <%= @orgname %>
date: <%= @datestring %>
description: "<%= @usage[0..500] %>"
imageurl: <%= @imageurl %>
---
<img src="<%= @imageurl %>" />

## <a href="<%= @url %>" target="_blank"> <%= @name %> <i class="fa fa-external-link"></i></a>

<%= @usage %>

## Datasets used

<%= @datasets %>

## <%= @orgname %>

<%= @orgdescription %>